body {
    background-color:rgba(31, 45, 231, 0.63);
    color: aliceblue ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    color: darkorchid;
    font-size: 45px
}

a:hover {
    color: crimson;
    font-size: 30px;
    font-style: oblique
}

img:hover {

    width: 500px;

}

p::first-letter {
    color: purple;
    font-size: 46px;
  }
